* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --header-background-color: #4C596B;
  --header-accent-color: #27B5E0;
  --text-color: #223547;
  --project-background-color: #B5DCFB;
}

body {
  background-color: whitesmoke;
  height: 100%;
}

header {
  background-color: var(--header-background-color);
  width: 100%;
  height: 50%;
}

nav {
  width: 60%;
  display: flex;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  border-bottom: 5px solid var(--header-accent-color);
  text-align: center;
  color: var(--header-accent-color);
  font-size: 1.5rem;
}

li a {
  text-decoration: none;
  padding: 0 5px;
  color: inherit;
}

main {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

main section {
  margin: 10px;
  display: flex;
}

h1 {
  display: flex;
  height: 95%;
  color: #223547;
  background-color: var(--header-accent-color);
  font-size: 3rem;
  padding: 10px;
  padding-left: 5%;
  justify-content: right;
  align-items: center;
}

h2 {
  display: flex;
  width: 12%;
  font-size: 2.5rem;
  border-right: 5px solid var(--text-color);
  text-align: right;
  justify-content: right;
  margin-left: 50px;
  margin-right: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  color: #223547;
  background-color: var(--header-accent-color);
  width: 35%;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

h4, h5 {
  padding: 10px;
}

.project {
  display: flex;
  flex-direction: column;
}

.project-link {
  text-decoration: none;
  background-color: var(--project-background-color);
  border: 3px solid var(--header-accent-color);
  height: 50%;
  overflow: hidden;
}

.project-link img {
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.1s ease-in;
  object-fit: cover;
}

.project-link img:hover {
  opacity: 1;
}

.project-info {
  color: var(--text-color);
  background-color: var(--header-accent-color);
  position: relative;
  margin: 10px 0;
  padding: 10px;
  bottom: 150px;
}

#upper-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  height: 25%;
}

#header-image {
  display: flex;
  justify-content: right;
  align-items: end;
  text-align: center;
  background-image: url('../images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg');
  background-size: cover;
  height: 75%;
}

#bio {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
  align-items: center;
}

#projects {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#main-project {
  margin: 10px;
  margin-bottom: -300px;
}

#main-project img {
  height: 100%;
}

#main-project-info {
  width: 25%;
}

#other-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

#other-projects .project {
  margin: 10px;
  width: 48%;
  margin-bottom: -260px;
}

#other-projects .project .project-info {
  width: 65%;
}

#contact ul {
  width: 80%;
}

#contact ul li {
  color: var(--text-color);
  border-bottom: 3px solid var(--text-color);
  text-align: center;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1269px) {
  #main-project-info {
    width: 30%;
  }

  #other-projects .project {
    width: 47%;
    margin-bottom: -230px;
  }

  #other-projects .project .project-info {
    width: 70%;
  }

  #main-project {
    margin-bottom: -270px;
  }
}

@media only screen and (max-width: 1023px) {
  #main-project-info {
    width: 35%;
  }

  #other-projects .project {
    margin-bottom: -200px;
  }

  #other-projects .project .project-info {
    width: 80%;
  }

  #main-project {
    margin-bottom: -240px;
  }
}

@media only screen and (max-width: 870px) {
  h2 {
    font-size: 2rem;
  }

  #other-projects .project {
    width: 46%;
    margin-bottom: -170px;
  }

  #other-projects .project .project-info {
    width: 90%;
  }

  #main-project {
    margin-bottom: -210px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
    padding: 5px;
  }

  nav {
    width: 100%;
  }

  nav ul li {
    font-size: 2rem;
  }

  #upper-row {
    display: flex;
    flex-direction: column;
    height: 40%;
  }

  #header-image {
    height: 60%;
  }

  #bio {
    font-size: 1.2rem;
  }

  #main-project {
    margin-bottom: -50px;
  }

  #main-project .project-link {
    height: 100%;
  }

  #main-project .project-info {
    width: 50%;
  }

  #other-projects .project {
    width: 100%;
    height: 40%;
    margin-bottom: -300px;
  }

  #other-projects .project .project-info {
    width: 50%;
    bottom: 120px;
  }

  #contact ul {
    flex-wrap: wrap;
  }

  #contact ul li {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    height: 50%;
  }

  nav ul li {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    width: 50%;
  }

  #main-project {
    margin-bottom: -150px;
    height: 40%;
  }

  #other-projects {
    height: 46%;
  }

  #other-projects .project {
    height: 60%;
    margin-bottom: -120px;
  }

  #other-projects .project-link {
    height: 100%;
  }

  #other-projects .project .project-info {
    width: 55%;
    bottom: 135px;
  }

  #contact ul li {
    font-size: 1.3rem;
  }

}
